<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 配置 -->
<configuration>
	
	<!-- 设置 -->
	<settings>
		<setting name="cacheEnabled" value="true"/>
		<setting name="useGeneratedKeys" value="true"/>
		<setting name="defaultExecutorType" value="REUSE"/>
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="defaultStatementTimeout" value="25000"/>
	</settings>

	<!-- 别名 -->
	<typeAliases>
		<typeAlias alias="role" type="cn.freedom.springds.pojo.Role"/>
		<typeAlias alias="user" type="cn.freedom.springds.pojo.User"/>
	</typeAliases>
	
	<!-- 引入映射器 -->
	<mappers>
		<mapper resource="cn/freedom/springds/mapper/RoleMapper.xml"/>
		<mapper resource="cn/freedom/springds/mapper/UserMapper.xml"/>
	</mappers>
 
</configuration>